* {
    box-sizing: border-box;
}

h1 {
    font-size: 100px;
    margin: 50px 0px 0px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    background-color: black;
    border-radius: 10px;
    /* transition: 300ms all ease-in-out; */
}

.frame-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/frame.png);
    width: 757px;
    height: 504px;
    z-index: 1;
    background-size: cover;
}